.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: var(--border-box-shadow);
    border-radius: var(--border-radius-small);
    width: 100%;
    max-width: 350px;
}

.login-container .login-title {
    font-size: 32px;
    font-weight: bolder;
}

.login-container .login-header {
    font-size: 24px;
    font-weight: bolder;
    margin: 20px 0px;
}

.login-container .demo-account-button {
    border: 1px var(--red) solid;
    color: var(--red);
    margin-top: 20px;
    height: 40px;
    border-radius: 3rem;
    transition: background-color 0.2s;
}

.login-container .demo-account-button:hover {
    background-color: var(--red);
    color: var(--white);
}