.home__turn-tracker-container {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 40px);
    height: calc(100vh - 100px);
    background-color: var(--white);
    box-shadow: var(--border-box-shadow);
    margin: 20px auto;
    overflow: auto;
}

.home__turn-tracker-header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 60px;
    background-color: var(--white);
    box-shadow: var(--border-box-shadow);
    z-index: 2;
}

.home__turn-tracker-header .header-button {
    display: flex;
    border-radius: var(--border-radius-small);
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: var(--white);
    transition: filter 0.2s;
}

.home__turn-tracker-header .header-button:hover {
    filter: brightness(1.2);
}

.home__turn-tracker-header .header-button.sign-in {
    background-color: var(--primary-color);
}

.home__turn-tracker-header .header-button.clear {
    background-color: var(--red);
    margin-left: auto;
}

.home__turn-tracker-content-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.home__turn-tracker-wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.home__turn-tracker-row {
    display: flex;
    flex-direction: row;
    min-height: 90px;
    min-width: 100%;
    margin: 10px 0px;
    width: max-content;
    align-items: center;
}

.home__turn-tracker-row .turn-box {
    position: relative;
    display: flex;
    margin: 0px 5px;
    border-radius: var(--border-radius-small);
    box-shadow: var(--border-box-shadow);
    height: 100%;
    min-width: 90px;
    align-items: center;
    justify-content: center;
}

.home__turn-tracker-row .turn-box:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

.turn-order {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
}

.turn-time {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
    font-size: small;
}

.turn-counter {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5px;
}

.home__turn-tracker-row .technician_name {
    position: sticky;
    left: 0px;
    margin-right: 5px;
    display: flex;
    height: calc(100% + 20px);
    padding: 10px;
    min-width: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    box-shadow: var(--border-box-shadow);
    z-index: 1;
}

.modal-background {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.modal-header {
    font-size: 32px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: var(--border-radius-small);
    padding: 20px;
    max-width: clamp(60%, 80vw, 800px);
    max-height: clamp(60%, 80vh, 800px);
}

.modal-container.technicians-modal-container {
    max-width: clamp(60%, 80vw, 800px);
    max-height: clamp(60%, 80vh, 800px);
}

.modal-container.services-modal-container {
    max-width: clamp(60%, 80vw, 800px);
    max-height: clamp(60%, 80vh, 800px);
}

.modal-container .close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: var(--border-radius-small);
    box-shadow: var(--border-box-shadow);
    background-color: var(--white);
    color: red;
    transition: filter 0.2s;
}

.modal-container .close-button:hover {
    filter: brightness(0.9);
}

.modal-content-wrapper {
    overflow: auto;
}

.modal-form-wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.modal-form-input {
    width: 100%;
    border: black 1px solid;
    margin: 10px 0px;
    padding: 10px;
    height: 40px;
    border-radius: var(--border-radius-small);
}

.modal-form-check {
    margin: 10px 10px;
}

.modal-content {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fill, 100px);
    justify-content: center;
}

.slashed {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 50%);
}

.slashed:hover {
    background: none;
}

.modal-card {
    position: relative;
    text-align: center;
    align-content: center;
    padding: 10px;
    background-color: var(--service-color);
    box-shadow: var(--border-box-shadow);
    border-radius: var(--border-radius-small);
    height: 100px;
    width: 100px;
    font-size: 16px;
    font-weight: 1000;
    transition: background-color 0.2s;
    color: var(--white);
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.modal-card:hover {
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.modal-button-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.modal-container .modal-button {
    display: flex;
    margin-right: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius-small);
    color: var(--white);
    transition: filter 0.2s;
}

.modal-button.edit-service-button {
    background-color: gray;
}

.modal-button.delete-service-button {
    background-color: red;
}

.modal-container .modal-button:hover {
    filter: brightness(1.2);
}

.modal-container.add-service-modal-container {
    width: 350px;
    max-height: 80vh;
}

.modal-container.add-new-tech-container {
    width: 400px;
}

.signed-in {
    background-color: green;
}