:root {
  /* Colors */
  --primary-color: rgb(100, 100, 255);
  --primary-dark: rgb(168, 115, 115);
  --black: black;
  --white: white;
  --blue: rgb(100, 100, 255);
  --blue-light: rgb(120, 120, 255);
  --red: rgb(255, 100, 100);
  --white-2: rgb(245, 245, 245);

  /* Box Shadows */
  --border-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* Border Radius */
  --border-radius-small: 4px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}